/* Your CSS Code here. */
*{
	padding:0px;
	box-sizing:border-box;
}
.holder{
	display:flex;
	flex-wrap:wrap;
	/* flex-direction:row; */
	justify-content:space-around;
	/* width:100vw;
	height:100vh; */
}
.item {
    flex: 1 0 auto;
    margin: 0 5px; /* Adjust the spacing between items */
    max-width: calc(50% - 10px); /* Ensure items don't exceed half the width of the container minus the margin */
    box-sizing: border-box; /* Include padding and border in the item's total width */
}